# Mukite XMPP Component configuration file
# Use:
# 	mukite <config.example
# or
# 	mukite config.example
# to run mukite using this configuration.
# Lines starting immediately with '#' are considered comments

## Network settings.
# TCP server (resolved with A record)
# Restart required: NO.
network.host localhost
# TCP port
# Restart required: NO.
network.port 8888

## Authorization options.
# A hostname to open stream to
# Restart required: NO.
component.hostname mukite.localhost
# A password for <handshake>
# Restart required: NO.
component.password secret

# Rooms storage file - for (de)serialization.
# This file is overwritten by issuing signals SIGUSR1, SIGTERM or SIGQUIT.
# Restart required: NO.
worker.data_file rooms.dat
# Number of concurrent worker threads.
# Range: 1-1024.
# Restart required: NO.
worker.threads 7
# Output buffer for building stanzas. Should be large enough to hold at least one stanza.
# Range: 1-INF.
# Restart required: YES.
worker.buffer 1048576
# Minimum time interval between groupchat messages, 1/10 seconds.
# Range: 0-INF.
# Restart required: NO.
worker.deciseconds_limit 2

# Queue size is the maximum number of stanzas being kept ready to be processed.
# If you see stats/queue/overflows increasing, consider making this number larger.
# Range: 1-INF.
# Restart required: YES.
reader.queue 1024
# A size of single stanza block. If 0, the buffer is always resized automatically.
# When negative, the size is never reduced and is limited to an absolute value of the one specified.
# If non-zero, the size must be large enough to keep at least one incoming stanza.
# Stanzas that don't fit into a block are silently (in terms of XMPP) dropped and produce a warning.
# Related stats:
#   stats/queue/mallocs: highest number of the queue items used at a time;
#   stats/queue/realloc_*: when .block = 0, indicates how often a realloc was performed;
# Range: 0-INF.
# Restart required: YES.
reader.block 0
# Network buffer size for the reader. This should be large enough to hold at least one stanza. If it does not,
# it is enlarged to 1MB and a warning is issued. If 1MB is not enough, an error occurs and reader thread dies.
# Too small values will affect performance on a high-loaded component and too large values affect memory.
# Range: 1-INF.
# Restart required: NO.
reader.buffer 1048576

# Output ringbuffer size.
# Related stats:
#   stats/ringbuffer/overflows: if you see this growing, try increasing buffer size.
# Range: 1-INF.
# Restart required: NO.
writer.buffer 2097152

## Access Control List
## 1 = create MUCs
## 2 = set 'persistent' flag of the owned room
## 3 = owner in all MUCs
## 4 = component admin
# Default role index.
# Restart required: NO (but existing users will not be updated).
acl.default_role 1
# Data file.
# Restart required: NO.
acl.data_file acl.dat.example

## Logger config
# Logging output filter. Log messages lower than this level will not be printed
# 0 - debug
# 1 - info
# 2 - warning
# 3 - error
# Restart required: NO.
logger.level 0
